###### write a programe to reverse a string
string=input("enter the string:")
reverse_string =string[::-1]
print(reverse_string)

In [2]:
#checking if a string is palindrome or not
#astring is said to bepalindrome if the string is identical
#ex: abcdedcba,malayam
string = input("enter the string:")
reverse_string=string[::-1]
if string ==reverse_string:
    print("palindrome")
else:
    print("not palindrome")

enter the string: madam

palindrome

In [3]:
#3convert a string into upper case
s=input("enter string:")
s1 = s.upper()
print(s1)

enter string: dog

DOG

In [4]:
#convert a string into lower case
s2=input("enter string:")
s3= s2.lower()
print(s3)

enter string: SKY

sky

In [5]:
#count the number of vowles in a string
sentance=input("enter string:")
string= sentance.lower()
count=0
list1=["a","e","i","o","u"] #vowles in alphabet
for char in string:
    if char in list1:
        count =count+1
        print(" no of vowles in sentance:", count)

enter string: i love cricket

 no of vowles in sentance: 1
 no of vowles in sentance: 2
 no of vowles in sentance: 3
 no of vowles in sentance: 4
 no of vowles in sentance: 5

In [6]:
#counting the consonant in a string
c= input("enter string:")
con ="bcdfghjklmnpqrstvwxyz"
count=0
for i in c:
    if i in con:
        count=count+1
print("no of con is:",count)

enter string: asdfghjk asdfgh asdfgh asdfgtf

no of con is: 23

In [7]:
#remov all white space from a string
s = input("enter string:")
remove_whitespace = s.replace(" ","")
print(remove_whitespace)

enter string: subhajit raj,love dog

subhajitraj,lovedog

In [9]:
#find the len of a string without using length function
def string_length(my_string):
    counter=0
    for char in my_string:
        counter += 1
        return counter
    
string_input = input("enter string:")
length = string_length(string_input)
print("lrngth", length)

enter string: testing

lrngth 1

In [11]:
#checking if a string contains a spacific word
d= input("enter string:")
d2= input("enter spalicized word to check for:")
if d2 in d:
    print(f"the string contains the word '{d2}'.")
else:
    print(f"the string dose'tcontain the word '{d2}'.")

enter string: my name is subhajit raj
enter spalicized word to check for: mama

the string dose'tcontain the word 'mama'.

In [13]:
#replace the word with another word
c= input("enter the string:")
c1 = input("enter the word to be replaced:")
c2 = input("enter new word:")
c3 = c.replace(c1, c2)
print("modified string:" , c3)

enter the string: subhajit roy
enter the word to be replaced: roy
enter new word: raj

modified string: subhajit raj

In [22]:
#count the occurrance of a string
def count_word_occurrance (input_string, target_word):
    word_count = 0
    words = input_string.split()
    for word in words:
        if word == target_word:
            word_count += 1
    return word_count

input_string =" this is a sample sentance. this sentance contains the word 'sample' multipul times."
target_word = "sample"
result = count_word_occurrance(input_string,target_word)
print(f"the word '{target_word}' appears {result} times in the input_string.")

the word 'sample' appears 1 times in the input_string.

In [1]:
# find the first occurrance of a string
def find_first_occurrance(text,word):
    index= text.find(word)
    if index== -1:
        return None
    return index
text ="this is an exmple sentence.This sentance contains the word exmple."
word = "exmple"
result = find_first_occurrance(text,word)
print("index of the first occurance:", result)

index of the first occurance: 11

In [2]:
#find the last occurance of word in a string
def find_last_occurrance(text, word):
    index = text.rfind(word)
    if index==-1:
        return None
    return index

text ="this is an exmple sentence. This sentencealso contains the word sentence."
word = "exmple"
result = find_last_occurrance(text,word)
print("index of last occurrance:" , result)

index of last occurrance: 11

In [4]:
#split a string into a list of word
def split_string_into_words(text):
    words_list = text.split()
    return words_list

text =" my name is subho and i am a good singer."
words =split_string_into_words(text)
print("list of words:", words)

list of words: ['my', 'name', 'is', 'subho', 'and', 'i', 'am', 'a', 'good', 'singer.']

In [6]:
#join a list of word into a sting
def join_words_into_string(words_list):
    joined_string =' '.join(words_list)
    return joined_string

words=["this", "is", "an", "very", "good", "dog."]
text = join_words_into_string(words)
print("joined string:", text)

joined string: this is an very good dog.

In [10]:
#convert a string where words are seperated by space to one where words are seoerated by underscore.
def convert_to_underscore_separated(text):
    underscore_separated= text.replace(" ","_")
    return underscore_separated
text = "this is an example sentence."
converted_text = convert_to_underscore_separated(text)
print("converted text:", converted_text)

converted text: this_is_an_example_sentence.

In [12]:
#checking if a string stars with aspecific word or phrase
def starts_with(text,prefix):
    is_start= text.startswith(prefix)
    return is_start

text =" hello world"
prefix= "hello"
result= starts_with(text,prefix)
if result:
    print("the text starts with prefix.")
else:
    print("not starts with prefix.")

not starts with prefix.

In [13]:
#checking if a string ends with a specific word or phrase
def ends_with(text,suffix):
    is_end= text.endswith(suffix)
    return is_end

text ="Hello, World !"
suffix = " World!"
result = ends_with(text,suffix)
if result:
    print("the word wnd with suffix:")
else:
    print("not end with suffix:")

not end with suffix:

In [14]:
#convert a string into a case
def convert_to_title_case(text):
    title_case_text =text.title()
    return title_case_text

text ="subhajit raj"
title_case_result=convert_to_title_case(text)
print("title case:", title_case_result)

title case: Subhajit Raj

In [1]:
#find the longest word in a string 
def find_longest_word(text):
    words = text.split()
    longest_word =""
    max_length =0
    for word in words:
        if len(word)> max_length:
            max_length= len(word)
            longest_word = word
            return longest_word
        
text=" i live in a small city which has a long river"
longest_word=find_longest_word(text)
print("longest word:", longest_word)

longest word: i

In [2]:
#find the shortes word
def find_shortest_word(text):
    words=text.split()
    shortest_word = None
    min_length = float('inf')
    for word in words:
        if len(word)< min_length:
            min_length = len(word)
            shortest_word = word
            return shortest_word
        
text = "this is an example sentence with some short words."
shortest_word = find_shortest_word(text)
print("shortest word:" , shortest_word)

shortest word: this

In [4]:
#reverse the order of the stimg
s = input("enter the sting:")
s1 = s.split()[::-1]
l =[]
for i in s1:
    l.append(i)
print(" ".join(l))

enter the sting: i am proud tobe a student

student a tobe proud am i

In [8]:
#checking if the sting is alphanumeric
def is_alphanumeric(text):
    return text.isalnum()

text="abc123"
result = is_alphanumeric(text)
if result:
    print("alphanumeric")
else:
    print("not alphanumeric")

alphanumeric

In [9]:
#extract all digits from a string
def extract_digits(text):
    digits = ""
    for char in text:
        if char.isdigit():
            digits += char
    return digits

text ="abc123def456"
extracted_digits = extract_digits(text)
print("extract diguits:", extracted_digits)

extract diguits: 123456

In [22]:
def extract_alphabets(input_string):
    alphabets =' '.join([char for char in input_string if char.isalpha()])
    return alphabets
input_string= "abc123def456"
result = extract_alphabets(input_string)
print(result)

a b c d e f

In [25]:
#count the number of uppercase letters in a string
def count_uppercase(input_string):
    uppercase_count = sum(1 for char in input_string if char.isupper())
    return uppercase_count

inpur_string= "helloworld"
result = count_uppercase(input_string)
print(result)

0

In [26]:
# count the number of lowercase letters in a string
def count_lowercase(input_string):
    lowercase_count =sum(1 for char in input_string if char.islower())
    return lowercase_count

input_string= "HelloWORLD"
result = count_lowercase(input_string)
print(result)

4

In [2]:
#swap the case of each character in a string
def swap_case(input_string):
    swapped_string = input_string.swapcase()
    return swapped_string
input_string = "subhajit"
result = swap_case(input_string)
print(result)

SUBHAJIT

In [4]:
#remove a spacific word from a string
def remove_word(input_string, word_to_remove):
    words = input_string.split()
    filtered_words =[word for word in words if word !=word_to_remove]
    modified_string= ' '.join(filtered_words)
    return modified_string

input_string = "Hello world,welcome to the world of programming."
word_to_remove = "world"
result = remove_word(input_string,word_to_remove)
print(result)

Hello world,welcome to the of programming.

In [1]:
#check if a string is a valid mail adress
import re
def is_valid_email(email):
    pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'  
    if re.match(pattern, email):
        return True
    else:
        return False
    
    email1 ="subhajitraj@gmail.com"
    email2 ="inviled-emil"
    result1 = is_valid_email(email1)
    result2 =is_valid_email(email2)
    print(result1)
    print(result2)

In [2]:
#extract the user name from a email
def extract_username(email):
    username = email.split('@')[0]
    return username

email = "subhajit@email.com"
result = extract_username(email)
print(result)

subhajit

In [7]:
#extract the domain from an email adresss
def extract_domain(email):
    
    domain = email.split('@')[1]
    return domain

email ="subhajit@gmail.com"
result= extract_domain(email)
print(result)

gmail.com

In [8]:
#replace multipa spaces in a string with single space
def replace_multipal_spaces(input_string):
    cleaned_string = ' '.join(input_string.split())
    return cleaned_string


input_string = "Hello   world! how are you?"
result = replace_multipal_spaces(input_string)
print(result)

Hello world! how are you?

In [27]:
#check if a string is a valid URL
def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])
    except valueError:
        return False
    
    url1="https://www.exmple.com"
    url2="invalid-url"
    result1 = is_valid_url(url1)
    result2 = is_valid_url(url2)
    print(result1)
    print(result2)

In [26]:
#extreact the protocaol(htto orhttps) from a url
def extract_protocol(url):
    protocol_end = url.find("://")
    if protocol_end != -1:
        protocol =url[:protocol_end]
        return protocol
    else:
        return None
    
    url1="https://www.example.com"
    url2= "http://google.com"
    url3="ftp://ftp.example.com"
    
    protocol1=extract_protocol(url1)
    protocol2=extract_protocol(url2)
    protocolextract_protocol(url3)
    
    print("protocol 1:", protocol1)
    print("protocol 2:", protocol2)
    print("protocol 3:", protocol3)

In [22]:
#find the frequency of each char in a string
def character_frequency(input_string):
    frequency ={}
    for char in input_string:
        if char in frequency:
            frequency[char] += 1
        else:
            frequency[char] = 1
    return frequency

input_string = "hello world"
char_freq = character_frequency(input_string)
for char, freq in char_freq.items():


    
    print(f"character: '{char}', frewuency: {freq}")

character: 'h', frewuency: 1
character: 'e', frewuency: 1
character: 'l', frewuency: 3
character: 'o', frewuency: 2
character: ' ', frewuency: 1
character: 'w', frewuency: 1
character: 'r', frewuency: 1
character: 'd', frewuency: 1

In [23]:
#remove all punctuation from a string
import string

def remove_punctuation(input_string):
    translator = str.maketrans("","", string.punctuation)
    clean_string = input_string.translate(translator)
    return clean_string
input_str = "hello, world !, how's it going?"
cleaned_str = remove_punctuation(input_str)

print("orginal string:", input_str)
print("cleaned string:", cleaned_str)

orginal string: hello, world !, how's it going?
cleaned string: hello world  hows it going

In [25]:
#chec it a string only contains digits
def contains_only_digits(input_string):
    return input_string.isdigit()

string1 ="12345"
string2 ="abc123"
string3 ="456.789"

result1 = contains_only_digits(string1)
result2 = contains_only_digits(string2)
result3 = contains_only_digits(string3)

print(f"'{string1}' contains only digits:", result1)
print(f"'{string2}' contains only digits:", result2)
print(f"'{string3}' contains only digits:", result3)

'12345' contains only digits: True
'abc123' contains only digits: False
'456.789' contains only digits: False

In [3]:
# check if a string only contains alphabets
def contains_only_alphabets(input_string):
    return input_string.isalpha()

string1 ="hello"
string2 = "abc123"
string3 = "12345"

result1 = contains_only_alphabets(string1)
result2 = contains_only_alphabets(string2)
result3 = contains_only_alphabets(string3)

print(f"'{string1}' contains only alphabets:", result1)
print(f"'{string2}' contains only alphabets:", result2)
print(f"'{string3}' contains only alphabets:", result3)

'hello' contains only alphabets: True
'abc123' contains only alphabets: False
'12345' contains only alphabets: False

In [4]:
# convert a string into a list of char.
def string_to_list(input_string):
    char_list= list(input_string)
    return char_list


input_str = "hello, worls!"
char_list = string_to_list(input_str)

print("original string:", input_str)
print("list of char:", char_list)

original string: hello, worls!
list of char: ['h', 'e', 'l', 'l', 'o', ',', ' ', 'w', 'o', 'r', 'l', 's', '!']

In [9]:
#check if two strings are anagrams
def are_anagrems(str1,str2):
    

    str1 = str1.replace(" ","").lower()
    str2 = str2.replace(" ","").lower()

    return sorted(str1)==sorted(str2)


string1 ="listen"
string2 = "silent"
string3 ="hello"
string4 ="world"

result1 = are_anagrems(string1,string2)
result2 = are_anagrems(string3, string4)

print(f"'{string1}' and'{string2}' are anagrems:", result1)
print(f"'{string3}' and'{string4}' are anagrems:", result2)

'listen' and'silent' are anagrems: True
'hello' and'world' are anagrems: False

In [11]:
#encode a string using a caesar cipher.
def caesar_cipher(text, shift):
    """
    Encodes a string using a Caesar cipher.
    
    Args:
      text: The string to encode.
      shift: The number of positions to shift each lrtter.
      
    Returns:
      The encode string.
    """
    encoded_text = ""
    for char in text:
        if char.isalpha():
            encoded_char = chr((ord(char) + shift - ord('a')) % 26 + ord('a'))
        else:
            encoded_char = char
        
        encoded_text += encoded_char
    return encoded_text
text ="hello, world!"
shift = 3

encoded_text = caesar_cipher(text, shift)

print("encoded text:", encoded_text)

encoded text: khoor, zruog!

In [19]:
#decode a caesar cipher encoded string.
def caesar_cipher_decoder(text, shift):
    """
    Decodes a string using a Caesar cipher.
    
    Args:
        text:the string to decode.
        shift: the number of positions to shift each letter.

    returns:
        the decode string.
    """
    decoded_text = ""
    for char in text:
        if char.isalpha():
            decoded_char = chr((ord(char) - shift - ord('a')) % 26 + ord('a'))
        else:
              decoded_char = char
        decoded_text += decoded_char
    return decoded_text
text = "lopp,zruog!"
shift = 3
decoded_text = caesar_cipher_decoder(text,shift)
print("decoded texs:", decoded_text)

decoded texs: ilmm,world!

In [30]:
# find the most frequent word in a string.
import re


def most_frequent_word(input_string):
    clean_string = re.sub(r'[^\w\s]',  '', input_string).lower()
    words = clean_string.split()
    word_counter = counter(words)
    most_common_word = word_counter.most_common(1)[0][0]
    
    
    
    return most_common_word
    input_str =" hello world,hello there! how's the world?"
    most_common = most_frequent_word(input_str)
    print("most frequent word:", most_common)

In [28]:
#find all unique words in a string
import re

def unique_words(input_string):
    clean_string= re.sub(r'[^\w\s]', '', input_string).lower()
    words = set(clean_string.split())
    return words
input_str = "hello world, hello there ! how's the world?"
unique_word_set = unique_words(input_str)
print("unique words:", unique_word_set)

unique words: {'world', 'hello', 'there', 'the', 'hows'}

In [46]:
#count the number of syllabas in a string.
def count_syllables(word):
    vowel_groups = re.findall(r'[aeiouy]+', word, re.IGNORECASE)
    return len (vowel_groups)

word1 ="hello"
word2 ="mango"
word3= "syllable"

syllables1 = count_syllables(word1)
syllables2 = count_syllables(word2)
syllables3 = count_syllables(word3)

print(f"'{word1}' has {syllables1} syllables.")
print(f"'{word2}' has {syllables2} syllables.")
print(f"'{word3}' has {syllables3} syllables.")

'hello' has 2 syllables.
'mango' has 2 syllables.
'syllable' has 3 syllables.

In [54]:
# check if a string contains any spacial characters
import re

def contains_spacial_characters(input_string):
    pattern =re.compile( r'[!@#$%^&()_+{}\[\]:;<>,.?~\\/]')
    match = pattern.search(input_string)
    return bool(match)
string1 = "hello, world!"
string2 = "this is a test."
string3 = "special@characters"

result1 = contains_spacial_characters(string1)
result2 = contains_spacial_characters(string2)
result3 = contains_spacial_characters(string3)

print(f"'{string1}' contains spacial characters:", result1)
print(f"'{string2}' contains spacial characters:", result2)
print(f"'{string3}' contains spacial characters:", result3)

'hello, world!' contains spacial characters: True
'this is a test.' contains spacial characters: True
'special@characters' contains spacial characters: True

In [6]:
#remove the nth word frome a string 

def remove_nth_word(input_string,n):
    words= input_stringsplit()
    if n>= 1 and n<= len(words):
        removed_word = words.pop(n  - 1)
        modified_string = ' '.join(words)
        return modified_string, removed_word
    else:
        return None, None
    
    input_str= "this is an exmple sample sentenceto test thefunction"
    in_valu = 4
    modified_str, removed_word = remove_nth_word(input_str,n_value)
    print("original string:", input_str)
    if modified_str is not None:
        print("modified string:" , modified_str)
        print("removed word:", removed_word)
    else:
        print("invalid n value")

In [9]:
#convert a  CSV string to a list of list.
def csv_string_to_list(csv_string):
    lines = csv_string.split('\n')
    result =[]
    for line in lines:
        fields = line.split(',')
    return result
csv_data = "name,age, country\nJohn, 25,USA\nAlice, 30, canada\nBob,22,uk"
list_of_lists = csv_string_to_list(csv_data)

for row in list_of_lists:
    print(row)

In [1]:
#List BASCED PROBLEM

In [4]:
#1 creat a list with integers from 1 to 10
integer_list = [i for i in range(1,11)]
                                
print(integer_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
#2 find the lingth of list without using len function

def custom_len(input_list):
    count=0
    for _ in input_list:
        count += 1
    return count


my_list =[12,24,36,48,60]

length = custom_len(my_list)

print("len of the list:", length)

len of the list: 5

In [6]:
#append an elements to the end of the list
my_list =[10,20,30]
new_element = 40
my_list.append(new_element)
print("updated list:", my_list)

updated list: [10, 20, 30, 40]

In [7]:
#4 insert an element at a specific index in a list
my_list = [10,20,30,40,50,]

new_element = 25
index_to_insert = 2
my_list.insert(index_to_insert, new_element)
print("updated list:", my_list)

updated list: [10, 20, 25, 30, 40, 50]

In [8]:
#5 remove an element from a list
my_list =[10,20,30,40,50]
element_to_remove = 30
my_list.remove(element_to_remove)

print("updated list:", my_list)

updated list: [10, 20, 40, 50]

In [9]:
#6 remove an element from list by its index
my_list =[10,20,30,40,50]
index_to_remove = 2
removed_element = my_list.pop(index_to_remove)
print("updated list:", my_list)
print("removed element:", removed_element)

updated list: [10, 20, 40, 50]
removed element: 30

In [12]:
#check if an element exist in a list
mt_list = [ 10,20,40,50]
element_to_check = 30
if element_to_check in my_list:
    print(f"{element_to_check} ecixt in the list.")
else:
    print(f"{element_to_check} not exixt.")

30 not exixt.

In [13]:
#8 finde the index of the first occurrance of the element list
my_list = [10,20,30,40,50,20]
element_to_find = 20
index= my_list.index(element_to_find)
print(f"the index of {element_to_find} is {index}")

the index of 20 is 1

In [14]:
#9count the occurrance of element in a list
my_list = [ 10,20,30,40,50,40,40]
element_to_count = 40
count= my_list.count(element_to_count)

print(f" the element {element_to_count} occurs {count} times in the list.")

 the element 40 occurs 3 times in the list.

In [15]:
#10 remove the order of elements in a list.
my_list =[10,20,30,40,50]
my_list.reverse()
print("reversed list:", my_list)

reversed list: [50, 40, 30, 20, 10]

In [16]:
#11 shot a list in ascending order
my_list = [ 50,10,30,40,20]
my_list.sort()
print("sorted items in ascending order:", my_list)

sorted items in ascending order: [10, 20, 30, 40, 50]

In [17]:
#12 sort a list in descending order
my_list = [50,10,30,40,20]
my_list.sort(reverse=True)
print("sort list descending order:", my_list)

sort list descending order: [50, 40, 30, 20, 10]

In [18]:
#13 creat a list with even numbers from 1 to 20
even_numbers = [ x for x in range(2, 21, 2)]
print("listof even numbers:", even_numbers)

listof even numbers: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [20]:
#14 creat a list odd numbers from 1 to 20
odd_no = [ x for x in range(1, 21, 2)]
print("odd no:", odd_no)

odd no: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [22]:
#15 find the sum of elements in a list
my_l = [10,20,30,40,50]
total_sum = sum(my_l)
print(" sum of elements:" , total_sum)

 sum of elements: 150

In [24]:
#16 find the max valu in list.
l =[10,20,30,40,50]
max_value = max(l)
print(" max value:", max_value)

 max value: 50

In [25]:
#17 find the minumum valu of a list
my_list = [10,20,30,40,50]
min_v = min(my_list)
print("min valu :", min_v)

min valu : 10

In [26]:
#18 creat a list squares of no from 1 to 10
squares = [ x ** 2 for x in range(1,11)]
print(" list of squares:", squares)

 list of squares: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [2]:
#19 creat a list a random no
import random
random_intergers =[random.randint(1, 100) for _ in range(10)]
print("list of random integers:", random_intergers)

list of random integers: [43, 86, 67, 27, 63, 4, 52, 99, 75, 35]

In [3]:
#20 remove duplicates from list.
l= [ 10,20,30,30,40,40,50,50]
unique_list = list(set(l))
print("list without duplicare:", unique_list)

list without duplicare: [40, 10, 50, 20, 30]

In [4]:
#21 find the common elements between two list.
def common_no(a,b):
    a_set=set(a)
    b_set=set(b)
    if (a_set & b_set):
        print(a_set & b_set)
    else:
        print("no common alements:")
a =[ 1,2,3,4,5]
b =[ 5,6,7,8,9]
common_no(a,b)

a =[1,2,3,4,5]
b =[6,7,8,9]
common_no (a,b)

{5}
no common alements:

In [5]:
#22 find the differnce between two list.
l1=[10,20,30,40,50]
l2=[30,40,50,60,70]
difference= list(set(l1).difference(l2))
print("difference between list:", difference)

difference between list: [20, 10]

In [6]:
#23 merge two list.
l=[10,20,30]
l1=[40,50,60]
m= l+l1
print("marged list:", m)

marged list: [10, 20, 30, 40, 50, 60]

In [7]:
#24multiply all elements.
l =[10,20,30,40,50]
multiplied_list = [x * 2 for x in l]
print("multiplied list:", multiplied_list)

multiplied list: [20, 40, 60, 80, 100]

In [8]:
#25 filter all even number from a list.
l =[1,2,3,4,5]
out= []
for num in l:
    if num % 2 ==0:
        out.append(num)
print(out)

[2, 4]

In [9]:
#26 convert a list to a strin to list of intergers
str_l=["10", "20", "30", "4", "50"]
integer_l = [ int(x) for x in str_l]
print("list of integers:", integer_l)

list of integers: [10, 20, 30, 4, 50]

In [12]:
#27 convert a list a of a intergers to a list of strings.
int_l=[10,20,30,40,50]
str_l=[str(x)for x in int_l]
print("list of strings:", str_l)

list of strings: ['10', '20', '30', '40', '50']

In [13]:
#28 flattern a nested list.
nested_list = [[1,2,3],[4,5],[6,7,8,9]]

def flatten_list(nested):
    flattened=[]
    for sublist in nested:
        if isinstance(sublist, list):
            flattened.extend(flatten_list(sublist))
        else:
            flattened.append(sublist)
    return flattened
flattened_list = flatten_list(nested_list)
print("flattended list :", flattened_list)

flattended list : [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
#29 creat a list of first 10fabonacci no.
def generate_fibonacci(n):
    fibonacci_list = [0,1]
    for i in range(2, n):
        next_fibonacci = fibonacci_list[i-1] + fibonacci_list[i-2]
        fibonacci_list.append(next_fibonacci)
    return fibonacci_list
fibonacci_numbers= generate_fibonacci(10)
print("first 10 fibonacci no:", fibonacci_numbers)

first 10 fibonacci no: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [17]:
#30 chec if a list is sorted.
def is_sorted_ascending(lst):
    for i in range(1, len(lst)):
        if lst[1] < lst[i-1]:
            return False
        return True
ascending_list =[ 10,20,30,40,50]
if is_sorted_ascending(ascending_list):
    print("this list is sorted.")
else:
    print("this list is not sorted.")

this list is sorted.

In [7]:
#31rotat a list to the n position by left
def rotate_left(lst, n):
    n = n % len(lst)
    rotated =lst[n:] + lst[:n]
    return rotated
my_list=[1,2,3,4,5,6]
n=2
rotated_list = rotate_left(my_list,n)
print("rotated left:", rotated_list)

rotated left: [3, 4, 5, 6, 1, 2]

In [13]:
#32 rotate a list to the right by n position.
def rotate_right(lst, n):
    n = n % len(lst)
    rotated = lst[-n:]  + lst[:-n]
    return rotated
my_list = [1,2,3,4,5,6]
n=2
rotated_list = rotate_right(my_list ,n)
print("roted list right:", rotated_list)

roted list right: [5, 6, 1, 2, 3, 4]

In [14]:
#33 creat a list prime number upto 50
def is_prime(num):
    if num <= 1:
        return False
    if num<= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i* i <= num:
        if num % i == 0 or num % (i+2) ==0:
            return False
        i += 6
    return True
prime_numbers = [ num for num in range(2,51) if is_prime(num)]
print("list of prime number up to 50:", prime_numbers)

list of prime number up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [19]:
#34 split a list into chunk of size n.
def sieve_of_eratosthenes(limit):
    primes =[]
    is_prime = [True] * (limit + 1)
    is_prime[0] = is_prime[1] = False
    
    
    for num in  range(2, int(limit ** 0.5) + 1):
        if is_prime[num]:
            primes.append(num)
            for multiple in range(num * num, limit + 1, num):
                  is_prime[multiple] = False
    for num in range(int(limit ** 0.5) + 1, limit + 1):
        if is_prime[num]:
            primes.append(num)
    return primes 
prime_numbers = sieve_of_eratosthenes(50)
print("list of prime numbers upto 50:", prime_numbers)

list of prime numbers upto 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [20]:
#35 find second largest number in a list.
l = [10,5,20,15,30,25]
sorted_list = sorted(set(l))
if len(sorted_list) >= 2:
    second_largest = sorted_list[-2]
    print("second largest no:", second_largest)
else:
    print("this list does not contain enought elements.")

second largest no: 25

In [21]:
#36 replace every elements in a list with its square.
l =[2,4,6,8,10]
s_l = [ x ** 2 for x in l]
print(" squere list:", s_l)

 squere list: [4, 16, 36, 64, 100]

In [22]:
#37 convert a list to a dictonary where list elements become keys and their indices become values.
l= ['apple', 'banana', 'mango', 'date', 'cheery']
d = {element: index for index, element in enumerate(l)}
print("converted diconary:", d)

converted diconary: {'apple': 0, 'banana': 1, 'mango': 2, 'date': 3, 'cheery': 4}

In [23]:
#38 shuffle the elements of a list randomly.
import random
l=[1,2,3,4,5,6,7,8,9,10]
random.shuffle(l)
print("shuffeled list:",l)

shuffeled list: [8, 2, 7, 1, 4, 3, 10, 9, 6, 5]

In [25]:
#39 creaat a list of first 10 factorial number.
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n -1)
factorial_numbers = [ factorial(i) for i in range(10)]
print("list of the first 10 factorial no:", factorial_numbers)

list of the first 10 factorial no: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [26]:
#40 check if two list have at least one element in common.
def has_common_element(l,l1):
    for item in l:
        if item in l1:
            return True
    return False
l=[1,2,3,4,5]
l1=[4,5,6,7,8]
if has_common_element(l,l1):
    print("one common elements.")
else:
    print("do not have any common element.")

one common elements.

In [28]:
#41 remove all elements from a list
l =[1,2,3,4,5,6]
l.clear()
print("empty list:", l)

empty list: []

In [29]:
#replace negative numbers in a list with 0
l = [ 10,5,20,15,-15,30,25]
for i in range(len(l)):
    if l[i]<0:
        l[i] = 0
print("list after replacing with negative numbers:", l)

list after replacing with negative numbers: [10, 5, 20, 15, 0, 30, 25]

In [30]:
#43 convert a string into a list of words.
s = "hello,this is a simple sentence."
w_l = s.split()
print("list of words:", w_l)

list of words: ['hello,this', 'is', 'a', 'simple', 'sentence.']

In [31]:
#44 convert a list of words into a string.
w_l = [ "hello", "this", "is", "a", "sapmle", "sentence."]
s = " ".join(w_l)
print("converted string:", s)

converted string: hello this is a sapmle sentence.

In [32]:
#45 creat a lisst of the first n powers 2.
n = 5
p_l = [ 2 ** i for i in range(n)]
print("list of the first", n , "powers of 2:",  p_l)

list of the first 5 powers of 2: [1, 2, 4, 8, 16]

In [33]:
#46 find the longest string in a list of string
s_l = ["apple", "banana", "mango" , "cheery" , "date"]
l_s =""
for s in s_l:
    if len(s) > len(l_s):
        l_s = s
print("longest string:", l_s)

longest string: banana

In [34]:
#47 find the sortest string in a string list.
s_l =[ "apple","banana", "mango", "cheery"]
s_s =s_l[0]
for s in s_l:
    if len(s)< len(s_s):
        s_s = s
print("shortest string:", s_s)

shortest string: apple

In [36]:
#48 creat a list of the firs tringular number.
def t_n(n):
    return [ i * (i+1) // 2 for i in range(1, n + 2)]
n = 5
t_l =t_n(n)
print("list of the first ", "tringuler number", t_l)

list of the first  tringuler number [1, 3, 6, 10, 15, 21]

In [37]:
#49check a list contains another list subsequance.

def is_subsequence(subsequence, main_list):
    subseq_index = 0
    for element in main_list:
        if element == subsequence[subseq_index]:
            subseq_index += 1
            if subseq_index == len(subsequence):
                return True
    return False
main_list =[1,2,3,4,5,6,7,8,9,10]
subsequence =[ 3,5,8]
if is_subsequence(subsequence, main_list):
    print("contain subseq.")
else:
    print("not contain subseq.")

contain subseq.

In [2]:
#50 swap twoelements in a list by their indices.
l= [ 1,2,3,4,5]
index= 1
index1 = 3
temp= l[index]
l[index] = l[index1]
l[index1] = temp
print("list after swaping elements:", l)

list after swaping elements: [1, 4, 3, 2, 5]

In [1]:
#TUPLE BASCED PROBLEMS PRACTICE

In [4]:
#1 creat a tuplw with integer from 1 to 5
t = (10,20,30,40,50)
t1 = t[2]
print("the third element of tuple is:", t1)

the third element of tuple is: 30

In [ ]:
#2 acess the third elements of a tuple

In [6]:

t = (10,20,30,40,50)
t1 = t[2]
print("the third element of tuple is:", t1)

the third element of tuple is: 30

In [7]:
#3 find the length of a tuple without using the len function
t = (10,20,30,40,50)
count = 0
for _ in t:
    count += 1
print("the len of the tuple:",count)

the len of the tuple: 5

In [9]:
#4 count the occurrance of an element in a tuple
t = (10,20,30,40,50,20,20)
element_to_count =20
count=0
for item in t:
    if item == element_to_count:
        count +=1
print(f"the element(element_to_count) appears{count} times in the tuple.")

the element(element_to_count) appears3 times in the tuple.

In [10]:
#5 find the index of the first occurance of an element in a tuple
t = (10,20,30,40,50)
element_to_find = 20
index=-1
for i, item in enumerate(t):
    if item == element_to_find:
        index = i
        break
if index != -1:
    print(f"the first occurance of {element_to_find}is at index{index}.")
else:
    print(f"{element_to_find} is not found in the tuple.")

the first occurance of 20is at index1.

In [11]:
#6 check if an element exit in a tuple
t =(10,20,30,40,50)
e= 30  #element to check
if e in t:
    print(f"{e} exixt in the tuple.")
else:
    print(f"{e} dose not exixt.")

30 exixt in the tuple.

In [12]:
#7 convert a tuple to a list.
t = (10,20,30,40,50)
l=list(t)

print("tuple;", t)
print("list:", l)

tuple; (10, 20, 30, 40, 50)
list: [10, 20, 30, 40, 50]

In [14]:
#8 convert a list to tuple.
l = [ 10,20,30,40,50]
t = tuple(l)

print("list:", l)
print("tuple:", t)

list: [10, 20, 30, 40, 50]
tuple: (10, 20, 30, 40, 50)

In [15]:
#9 unpack the elements of a tuple in variables.
t =(10,20,30)
var1, var2,var3 =t
print("var1:",var1)
print("var2:",var2)
print("var3:", var3)

var1: 10
var2: 20
var3: 30

In [16]:
#10 creat a tuple of even numbers from 1 to 10.
e_l=[num for num in range (2, 11, 2)] #e_l even number list
e_t = tuple(e_l)

print("even numbers of tuple:", e_t)

even numbers of tuple: (2, 4, 6, 8, 10)

In [17]:
#11creat a tuple of odd numbers 1 to 10.
o_l = [num for num in range(1, 11,2)]
o_t =tuple(o_l)
print("tuple of even numbers:", o_t)

tuple of even numbers: (1, 3, 5, 7, 9)

In [19]:
#12 concatenate two tuples.
t1 = (1,2,3)
t2 = (4,5,6)
c = t1 + t2
print("concatenated tuple:", c)

concatenated tuple: (1, 2, 3, 4, 5, 6)

In [20]:
#13 repeat a tuple three times.
o_t = (1,2,3)
r_t = o_t*3

print("repeated tuple:", r_t)

repeated tuple: (1, 2, 3, 1, 2, 3, 1, 2, 3)

In [21]:
#14 check if a tuple is empty.
empty_tuple =()
no_empty_tuple = (1,2,3)

if not empty_tuple:
    print("the empty tuple is empty.")
else:
    print("the empty tuple is not empty.")

if no_empty_tuple:
    print("the no empty tuple is empty.")
else:
    print("the no empty tuple is not empty.")

the empty tuple is empty.
the no empty tuple is empty.

In [23]:
#15 creat a nested tuple.
nested_t = ((1,2,3) , ('a','d','s',), (True, False))
print("nested tuple:", nested_t)

nested tuple: ((1, 2, 3), ('a', 'd', 's'), (True, False))

In [24]:
#16 acess the first elements of nested tuple.
n_t = ((1,2,3), ('q','w', 'y'), (True, False))
first_element = n_t[0]

print("first element of nested tuple:", first_element)

first element of nested tuple: (1, 2, 3)

In [25]:
#17 creat a tuple with single element.
s_t = (42,)

print("single element tuple:", s_t)

single element tuple: (42,)

In [26]:
#18 compare two tuples.
t1 = (1,2,3)
t2 = (3,4,5)


print("t1 == t2:", t1 ==t2)
print("t1 != t2:", t1 != t2)
print("t1 < t2:", t1<t2)
print("t1 <= t2:", t1 <= t2)
print("t1>t2:", t1>t2)
print("t1>=t2:", t1>=t2)

t1 == t2: False
t1 != t2: True
t1 < t2: True
t1 <= t2: True
t1>t2: False
t1>=t2: False

In [27]:
#19 deleat a tuple
my_tuple = (1,2,3,4,5,6,7)

del my_tuple

print(my_tuple)

NameError: name 'my_tuple' is not defined

In [28]:
#20 slice a tuple.
t =(1,2,3,4,5,6,7,8,9,10)

s_t = t[2:6]

print("sliced tuple:", s_t)

sliced tuple: (3, 4, 5, 6)

In [29]:
#21 find the max value in tuple.
t = (10,20,5,25,30)

m_v = max(t)

print("max value:", m_v)

max value: 30

In [30]:
#22 minumum valu of a tuple.
t = (910,55,60,34,58)
min_v = min(t)
print("minimum value:", min_v)

minimum value: 34

In [31]:
#23 convert a string into a tuple char.
s = "hello, world!"
t=tuple(s)
print("tuple of char:", t)

tuple of char: ('h', 'e', 'l', 'l', 'o', ',', ' ', 'w', 'o', 'r', 'l', 'd', '!')

In [32]:
#24 convert a tuple to string
t =('s', 'u', 'b','h','j','i','t')
s_t = ''.join(t)

print("string to tuple:", s_t)

string to tuple: subhjit

In [34]:
#25 creat a tuple from multiple data types
t = ("hello", 1, 3.67,True)

print(t)

('hello', 1, 3.67, True)

In [35]:
#26 check if two tuple are identical.
t1= (1,2,3)
t2= (1,2,3)
t3= (4,5,6)

a_i1= t1 == t2
a_i2= t1 == t3

print("t1 and t2 are identicial:", a_i1)
print("t1 and t3 are identical:", a_i2)

t1 and t2 are identicial: True
t1 and t3 are identical: False

In [36]:
#27sort the elements of tuple
t=(5,7,9,3,2)

s_t = tuple(sorted(t))
print("sorted tuple:", s_t)

sorted tuple: (2, 3, 5, 7, 9)

In [37]:
#28 convert a tuple of integers to a tuple  of string

t_t =(1,2,3,4,5)

t_s = tuple(str(item) for item in t_t)

print("tuple of strings:", t_s)

tuple of strings: ('1', '2', '3', '4', '5')

In [38]:
#29 convert a tuple of strings  to a tuple of integers.
t = ('10' ,'20', '30','40', '50')
t_s= tuple(int(item) for item in t)

print("tuple of strangers:", t_s)

tuple of strangers: (10, 20, 30, 40, 50)

In [39]:
#30 marge two tuple.
t1 =(1,2,3)
t2 =(4,5,6)

m_t = t1 + t2

print("merged tuple:", m_t)

merged tuple: (1, 2, 3, 4, 5, 6)

In [4]:
#31 flatten a nested tuple.
def flatten_tuple(nested_tuple):
    flattened = []
    for item in nested_tuple:
        if isinstance(item,tuple):
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return flattened


nested_tuple = ((1,2),(3,4,4),(6,(7,8)))

flattened_tuple= tuple(flatten_tuple(nested_tuple))

print("flattened tuple:",flattened_tuple)

flattened tuple: (1, 2, 3, 4, 4, 6, 7, 8)

In [6]:
#32 crea a tuple of first five prime numbers

def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num  ** 0.5) + 1):
        if num % i == 0:
            return False
    return True
prime_number_list = [ num for num in range(2, 100)  if is_prime(num)][:5]

prime_number_tuple = tuple(prime_number_list)

print("tuple of the first 5 prime number:", prime_number_tuple)

tuple of the first 5 prime number: (2, 3, 5, 7, 11)

In [9]:
#33  chec if a tuple is palindrome or not.
def is_plaindrome(tup):
    return tup == tup [::-1]
p_t = (1,2,3,2,10)
np_t = (1,2,3,4,5)

p1 = is_plaindrome(p_t)
p2 =is_plaindrome(np_t)

print("p_t is palindrome:", p1)
print("np_t is not plaindrome:", p2)

p_t is palindrome: False
np_t is not plaindrome: False

In [11]:
#34 creat tuple of squers of numbers from 1 to 5.
squers_t = tuple(x ** 2 for x in range(1,6))


print("tuple of squers:", squers_t)

tuple of squers: (1, 4, 9, 16, 25)

In [12]:
#35 filter out all even numbers from a tuple.
o_t= (1,2,3,4,5,6,7)
filter_t = tuple(num for num in o_t if num % 2  !=0)

print("filterd tiuple:", filter_t)

filterd tiuple: (1, 3, 5, 7)

In [13]:
#36 multiply al elements in a tuple by 2

o_t = (1,2,3,4,5)

doubled_t = tuple(num * 2 for num in o_t)

print(" doubled tuple:", doubled_t)

 doubled tuple: (2, 4, 6, 8, 10)

In [15]:
#37 creat a tuple of random numbers.

import random

random_t = tuple(random.randint(1 , 100) for _  in range(10))

print("random tuple:", random_t)

random tuple: (55, 1, 90, 23, 61, 93, 58, 24, 55, 96)

In [16]:
#38 check if a tuple is sorted.

def is_sorted(tup):
    for i in range(len(tup) - 1):
        if tup[1] > tup[ i + 1]:
            return False
    return True
sorted_t = (1,2,3,4,5)
unsorted_t = (6,1,3,2,4,5)

s1= is_sorted(sorted_t)
s2 = is_sorted(unsorted_t)

print("sorted tuple is sorted:", s1)
print("unsorted tuple is sorted:", s2)

sorted tuple is sorted: True
unsorted tuple is sorted: True

In [1]:
#39 rotat a tuple to the left by n position.
def rotat_t_left(tup, n):
    n = n % len(tup)
    r_t = tup[n:] +tup [:n]
    return r_t
m_t = (1,2,3,4,5)
n_p= 2
result = rotat_t_left(m_t, n_p)
print(result)

(3, 4, 5, 1, 2)

In [4]:
#40 rotat a tuple to the right by n position.
def rotat_t_right(tup, n):
    n = n % len(tup)
    r_t=tup[-n:]  + tup[:-n]
    return r_t
n_t = (1,2,3,4,5,6,7)
n_p = 2
result = rotat_t_right(m_t, n_p)
print(result)

(6, 7, 1, 2, 3, 4, 5)

In [5]:
#41 creat a tuple of the first five fibonacci number.

def generate_fibonacci(n):
    fibonacci = [0, 1]
    while len(fibonacci) < n:
        next_number = fibonacci[-1] + fibonacci[-2]
        fibonacci.append(next_number)
    return tuple(fibonacci)

fibonacci_tuple = generate_fibonacci(5)

print(fibonacci_tuple)

(0, 1, 1, 2, 3)

In [6]:
#42 creat a tuple from user input.

s = input("enter elemints separated by coomas:")
l = s.split(',')
u= tuple(l)
print(" user input tuple:", u)

enter elemints separated by coomas: ('s', 'u', 'b', 'h', 'a', 'j', 'i', 't')

 user input tuple: ("('s'", " 'u'", " 'b'", " 'h'", " 'a'", " 'j'", " 'i'", " 't')")

In [10]:
#43 swap two elements in tuple.
t = (1,2,3,4,5)

index1 = 1
index2 = 3
swapped_t = tuple(
    t[i] if i not in (index1,index2) else
    t[index2] if i == index1 else
    t[index1]
    for i in range(len(t))
)

print("swapped tuple:", swapped_t)

swapped tuple: (1, 4, 3, 2, 5)

In [11]:
#44 reverse the elements of tuple.
t = (1,2,3,4,5)
reversed_t = t[::-1]

print("reversed tuple:", reversed_t)

reversed tuple: (5, 4, 3, 2, 1)

In [12]:
#45 creat a tuple od the first n powers of 2.
n = 5 

p = tuple( 2 ** i for i in range(n))

print("tuple of the first:", p)

tuple of the first: (1, 2, 4, 8, 16)

In [13]:
#46 find the  longest strings in a tuple of strings.
s = ("apple", "mango", "bananaa", "cherry")
l_s =max(s, key=len)
print("longest string:", l_s)

longest string: bananaa

In [15]:
#47 find the shortest string in a number of strings.
s = ('apple', 'banana', 'mango', 'cherry')
s_s = min(s, key=len)
print("shortest strings:", s_s)

shortest strings: apple

In [17]:
#48 creat a tuple of the first n tringular numbers.

n = 5
triangular_number = tuple((i * (i+1)) // 2 for i in range(1, n+1))

print("tuple of the first", n, "tringular number",triangular_number)

tuple of the first 5 tringular number (1, 3, 6, 10, 15)

In [18]:
#49 check  if a tuple contains another tuple as subsequence
def contains_sub(main_tuple, sub_tuple):
    sub_length = len(sub_tuple)
    for i in range(len(main_tuple) - sub_length +1):
        if main_tuple[i:i+sub_length] == sub_tuple:
            return True
    return False

main_tuple=(1,2,3,4,5,6,7,8,9)
sub_tuple=(3,4,5)
contains_subseq = contains_sub(main_tuple, sub_tuple)

print("main tuple contain subsequence of tuplr:", contains_subseq)

main tuple contain subsequence of tuplr: True

In [19]:
#50 creat a tuple alternating 1s and 0s of length n.

n =10
alternating_t = tuple(i % 2 for i in range(n))

print("tuple of alternating 1s and 0s:", alternating_t)

tuple of alternating 1s and 0s: (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

In [1]:
# SET BASED PROBLEMS.

In [1]:
#1 creat a set with integers from 1 to 5

s = set()
s.add(1)
s.add(2)
s.add(3)
s.add(4)
s.add(5)

print(s)

{1, 2, 3, 4, 5}

In [3]:
#2 add en element to set

s={1,2,3,4,5}
print("orginal set:", s)

element_to_add = 6
s.add(element_to_add)

print("set after adding eliments:", s)

orginal set: {1, 2, 3, 4, 5}
set after adding eliments: {1, 2, 3, 4, 5, 6}

In [4]:
#3 remove an element from a set.

s={1,2,3,4,5}

print("orginal set:", s)

remove_element = 3

s.remove (remove_element)

print("set after removing element:", s)

orginal set: {1, 2, 3, 4, 5}
set after removing element: {1, 2, 4, 5}

In [7]:
#4 check if an element exix in a set.
s ={1,2,3,4,5}
element_to_check = int(input("enter the element to check:"))

if element_to_check in s:
    print(f"{element_to_check} exixt in a set")
else:
    print(f"{element_to_check} dors not exixt")

enter the element to check: 20

20 dors not exixt

In [8]:
#5 find the len of a set without using the len function

s = {1,2,3,4,5}
count =0
for _ in s:
    count += 1
print("length of set:", count)

length of set: 5

In [9]:
#6 clear all elements from a set.

s = {1,2,3,4,5}
print("orginal set:",s)
s.clear()

print("set after clearing:", s)

orginal set: {1, 2, 3, 4, 5}
set after clearing: set()

In [10]:
#7 creat a set of even numbers from 1 to 10.
s= set()
for num in range(1, 11):
    if num % 2 == 0:
        s.add(num)
print(s)

{2, 4, 6, 8, 10}

In [12]:
# find the union of two sets.

s1= {1,2,3,4,5}
s2 ={4,5,6,7,8}
union_result = s1.union(s2)

print("set 1:", s1)
print("set 2 :", s2)
print(" union of set 1 and set 2:", union_result)

set 1: {1, 2, 3, 4, 5}
set 2 : {4, 5, 6, 7, 8}
 union of set 1 and set 2: {1, 2, 3, 4, 5, 6, 7, 8}

In [13]:
#10 find the intersection of two sets.

s1={1,2,3,4,5}
s2 ={3,4,5,6,7}

i_result = s1.intersection(s2)

print("set 1:", s1)
print("set 2:", s2)

print("intersection:", i_result)

set 1: {1, 2, 3, 4, 5}
set 2: {3, 4, 5, 6, 7}
intersection: {3, 4, 5}

In [14]:
#11 finde the difference of two sets.

s= {1,2,3,4,5}
s2={3,4,5,6,7}
d_s = s1.difference(s2)

print("set 1:", s1)
print("set 2:", s2)
print(" difference:", d_s)

set 1: {1, 2, 3, 4, 5}
set 2: {3, 4, 5, 6, 7}
 difference: {1, 2}

In [17]:
#12 check if a set is subset of another set.
s1 ={1,2,3}
s2 ={1,2,3,4,5}
is_subset=s1.issubset(s2)
print("is set 1 and set 2 :", is_subset)

is set 1 and set 2 : True

In [2]:
#13 check if a set is a super set of another set.
s1 = {1,2,3,4,5}
s2= {3,4}
is_s = s1.issuperset(s2)

if is_s:
    print("s1 is a super set of s2")
else:
    print("s1 is not super set of s2")

s1 is a super set of s2

In [4]:
#14 creat a set from a list.
l =[2,4,1,4,3,2,5]
s = set(l)
print("orginal list:", l)
print("orginal set from set:", s)

orginal list: [2, 4, 1, 4, 3, 2, 5]
orginal set from set: {1, 2, 3, 4, 5}

In [5]:
#15 convert a set to a list.

s= {3,1,4,1,5,9,2,6,5}
l = list(s)
print("orginal set:", s)
print("converted list:",l)

orginal set: {1, 2, 3, 4, 5, 6, 9}
converted list: [1, 2, 3, 4, 5, 6, 9]

In [2]:
#16 remove a random elemnet from a set.
import random
my_set ={1,2,3,4,5}
print("original set:", my_set)
random_element = random.choice(list(my_set))
my_set.remove(random_element)

print("updated set after removing:", random_element,":", my_set)

original set: {1, 2, 3, 4, 5}
updated set after removing: 3 : {1, 2, 4, 5}

In [3]:
#17 pop an element from a set.
s={1,2,3,4,5}
print("original set:", s)
poped_element= s.pop()
print("poped element:", poped_element)
print("set after poping:", s)

original set: {1, 2, 3, 4, 5}
poped element: 1
set after poping: {2, 3, 4, 5}

In [4]:
# 18 check if two sets have no elements in common.
s1={1,2,3,4}
s2={5,6,7,8}

common_element = s1.intersection(s2)
if not common_element:
    print("the two sets have no common elements.")
else:
    print("the two sets have common elements.")

the two sets have no common elements.

In [5]:
#19 find the symmetric difference two sets.

s1= {1,2,3,4,5}
s2={4,5,6,7,8}
symetric_difference = s1^s2

print("symetric difference:", symetric_difference)

symetric difference: {1, 2, 3, 6, 7, 8}

In [7]:
#20. update a set wth an elements from another set.

s1 = {1,2,3}
print("swt 1:", s1)

s2 ={3,4,5}
print("set 2:", s2)
s1.update(s2)
print("updated set:", s1)

swt 1: {1, 2, 3}
set 2: {3, 4, 5}
updated set: {1, 2, 3, 4, 5}

In [1]:
#21 creat a set from first prime numbers.
def is_prime(num):
    if num <=1:
        return False
    for i in range(2,int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True
prime_set = set()
num=2
while len(prime_set) < 5:
    if is_prime(num):
        prime_set.add(num)
    num +=1
print("set of the first 5 prime number:", prime_set)

set of the first 5 prime number: {2, 3, 5, 7, 11}

In [2]:
#22. check if two sets are identical
s1 ={1,2,3,4,5}
s2 ={3,1,5,2,4}

if s1 == s2:
    print("identical.")
else:
    print("not identical.")

identical.

In [3]:
#23 creat a frozen set.
l=[1,2,3,4,5]

frozen_set =frozenset(l)
print("frozen set:", frozen_set)

frozen set: frozenset({1, 2, 3, 4, 5})

In [4]:
#24 check if a set is disjoint with another set.
s1={1,2,3,4,5}
s2 ={6,7,8,9,0}

disjoint_set = s1.isdisjoint(s2)

print(" are the setsdisjoint:", disjoint_set)

 are the setsdisjoint: True

In [5]:
#25. creat set of squers of number 1 to 5

s_s = set()

for num in range(1,6):
    square = num ** 2
    
    s_s.add(square)
print(s_s)

{1, 4, 9, 16, 25}

In [6]:
#26. filter out all even numbers of set.

o_s = {1,2,34,5}

evennumber_set = set()
for num in o_s:
    if num % 2 ==0:
        evennumber_set.add(num)

print("original set:", o_s)
print(" even numbersset:", evennumber_set)

original set: {1, 2, 34, 5}
 even numbersset: {2, 34}

In [8]:
#27multiply all elements in a set by 2

o_s = {1,2,3,4,5}
m_s = set()
for num in o_s:
    m_n= num* 2
    
    m_s.add(m_n)
    
print("original set:", o_s)
print("multiplied set:", m_s)

original set: {1, 2, 3, 4, 5}
multiplied set: {2, 4, 6, 8, 10}

In [9]:
#28 creat set of random numbers.
import random

rn= 5
r=set()
for _ in range(rn):
    random_num = random.randint(1,100)
    r.add(random_num)
    
print("generated set of random numbers:", r)

generated set of random numbers: {1, 6, 7, 75, 14}

In [10]:
#29. check if a set is empty.
s = set()
if not s :
    print(" empty.")
else:
    print("not empty.")

 empty.

In [13]:
#30. creat a nested set.
s1={1,2,3,4,5}
s2 ={6,7,8,9,0}
frozen_s1 = frozenset(s1)
frozen_s2= frozenset(s2)

nested_s= {frozen_s1, frozen_s2}

print("nested set:", nested_s)

nested set: {frozenset({1, 2, 3, 4, 5}), frozenset({0, 6, 7, 8, 9})}

In [2]:
#31. remove an element from a set using discard methode
s= {1,2,3,4,5}
print("initial set:", s)

element_to_remove = 3

s.discard(element_to_remove)

print("set after removing:",element_to_remove,":",s)

initial set: {1, 2, 3, 4, 5}
set after removing: 3 : {1, 2, 4, 5}

In [5]:
#32 compare two sets.

set1={1,2,3,4,5}
set2={4,5,6,7,8}

is_subset =set1.issubset(set2)
is_superset= set1.issuperset(set2)

intersection=set1.intersection(set2)

union= set1.union(set2)

difference1 = set1.difference(set2)

difference2= set2.difference(set1)


print("set 1:",set1)
print("set 2:", set2)
print("is set1 and subset of set2:", is_subset)
print("isis set1 superset of set2:", is_superset)
print("intersection:", intersection)
print("union:",union)
print("diffreence1:", difference1)
print("diffrence:", difference2)

set 1: {1, 2, 3, 4, 5}
set 2: {4, 5, 6, 7, 8}
is set1 and subset of set2: False
isis set1 superset of set2: False
intersection: {4, 5}
union: {1, 2, 3, 4, 5, 6, 7, 8}
diffreence1: {1, 2, 3}
diffrence: {8, 6, 7}

In [10]:
#33. creat a set from string.
s= "hello"
s1=set (s)

print(s1)

{'o', 'h', 'e', 'l'}

In [4]:
#34 convert a set of strings to a set of integer
string_set= {"123","456", "789"}

integer_set = set()
for string in string_set:
    integer_value = int(string)
    integer_set.add(integer_value)
    
print("original set:",string_set)
print("original integer", integer_set)

original set: {'123', '456', '789'}
original integer {456, 123, 789}

In [5]:
#35  con vert a set of int into a set of strings
s={1,2,3,4,5}
s1= set()
for num in s:
    num_str=str(num)
    s1.add(num_str)
print("original int set:", s)
print("original str set:", s1)

original int set: {1, 2, 3, 4, 5}
original str set: {'3', '4', '1', '2', '5'}

In [6]:
# 36 creat a set from a tuple.

t=(1,2,3,4,5,6)
s= set(t)

print(s)

{1, 2, 3, 4, 5, 6}

In [7]:
#37 convert a set to a tuple.

s = {1,2,3,4,5}
t= tuple(s)
print("original set:",s)
print("original tuple:",t)

original set: {1, 2, 3, 4, 5}
original tuple: (1, 2, 3, 4, 5)

In [8]:
#38 find the max value in set.

s= {12,34,56,78}
m_v= None

for num in s:
    if m_v is None or num>m_v:
        m_v= num
        
print("maximum valu:",m_v)

maximum valu: 78

In [14]:
#39 finde rhe min number.
number_set= {15,8,9,0,5}

min_value = None

for num in number_set:
    if min_value is None or num < min_value:
        min_value = num
print("min no:", min_value)

min no: 0

In [1]:
# 40 creat set from user input.

s = set()

print("enter the for the set(type 'done' to finish):")
while True:
    u= input("> ")
    if u .lower() == 'done':
        break
    s.add(u)
print("finel:", s)

enter the for the set(type 'done' to finish):

>  subhaji
>  raj
>  done

finel: {'subhaji', 'raj'}

In [2]:
#41 chec if intersection of two sets is empty

s1={1,2,3,4,5}
s2={4,5,6,7,8}

i_result= s1.intersection(s2)

if not i_result:
    print(" the intersection is empty:")
else:
    print("the intersection is not empty:")

the intersection is not empty:

In [7]:
#42 creat a set of first of 5 fibonacci no.
f=set()

a, b, = 0, 1
for _ in range(6):
    f.add(a)

    a,b=b,a+b

print("set of 5 fibonacci no:", f)

set of 5 fibonacci no: {0, 1, 2, 3, 5}

In [8]:
#43 remove duplicates from a list using sets.

s=[2,4,6,8,10,12,14,8]
u= set(s)
u1= list(u)

print("original ist:",s)
print("list with duplicates remove:", u1)

original ist: [2, 4, 6, 8, 10, 12, 14, 8]
list with duplicates remove: [2, 4, 6, 8, 10, 12, 14]

In [10]:
#44check two sets have the same elements ,regardless of their count.
def have_same_elements(s1,s2):
    l1=sorted(list(s1))
    l2=sorted(list(s2))
    
    return l1==l2

s1={1,2,3,2,1}
s2={3,2,1}

result=have_same_elements(s1,s2)

if result:
    print("the sets have same elements.")
else:
    print("dont have same elements.")

the sets have same elements.

In [11]:
#45creat a set of first n power of 2.

def generated_powers_of_2(n):
    powers_of_2=set()
    
    for i in range(n):
        power= 2 ** i
        
        powers_of_2.add(power)
    return powers_of_2
n=5
powers_set=generated_powers_of_2(n)
print(powers_set)

{1, 2, 4, 8, 16}

In [12]:
#46 find the common elements between a set and a list.
s={3,7,9,12,15}
l=[7,12,15,9]

list_to_set=set(l)
common_elements=[]
for element in s:
    if element in list_to_set:
        common_elements.append(element)
print("common elements:",common_elements)

common elements: [7, 9, 12, 15]

In [ ]:
#47 creat a set of the first n tringular numbers.

1     1 dot
11      3 dots
121     6 dots
1231    10 dots

In [13]:
def generate_triangular_numbers(n):
    triangular_numbers= set()
    for i in range(1, n+1):
        triangular_number= i*(i+1)// 2
        triangular_numbers.add(triangular_number)
    return triangular_numbers
n= int(input("enter the value of n:"))
triangular_set=generate_triangular_numbers(n)
print(f"the set of the first{n} trianhular number is :", triangular_set)

enter the value of n: 10

the set of the first10 trianhular number is : {1, 3, 36, 6, 10, 45, 15, 21, 55, 28}

In [14]:
#48 check if a set contains anotheer set as a subset.
s1={1,2,3,4,5}
s2={3,4}
is_subset=s2.issubset(s1)

if is_subset:
    print("set 2 is sub set of set 1.")
else:
    print("set 2 is not a subset of set2.")

set 2 is sub set of set 1.

In [15]:
#49 creat a set of alternating_set(n):

def creat_alternating_set(n):
    alternating_set= set()
    for i in range(n):
        if i % 2 == 0:
            alternating_set.add(1)
        else:
            alternating_set.add(0)
    return alternating_set
length_n=10
result=creat_alternating_set(length_n)
print(result)

{0, 1}

In [16]:
#50 marge multipal set in to one.

s1={1,2,3}
s2={3,4,5}
s3={6,7,8}
marge_set = s1.union(s2,s3)

print("marged sets:", marge_set)

marged sets: {1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
#COMPLETE